.app-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 80px;
}

nav h1 {
    font-style: italic;
    font-size: 30px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #777;
    padding-bottom: 5px;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-links a:hover {
    color: #555;
    border-bottom: 2px solid #555;
}

.user-section {
    display: flex;
    align-items: center;
}

.logged-in {
    display: flex;
    align-items: center;
    gap: 10px; 
    background-color: #dedede90;  
    padding: 10px 20px;
    border-radius: 8px;
    color: #000000;  
}

.logged-in p {
    font-weight: 500;
    margin: 0;
    font-size: 1em;
}

.btn-logout {
    background-color: transparent;
    border: 1px solid #000000;  
    border-radius: 4px;
    color: #000000;  
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-logout:hover {
    background-color: #ECEFF4;  
    color: #4aab4f;  
}

.progress-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.percentage {
    position: absolute;
    text-align: center;
    font-style: italic;
    right: 50px;
    font-size: 10px;
    color: white;
}

.progress-bar-container {
    flex-grow: 1;
    width: 120px;
    height: 16px;
    background-color: #4b944e; 
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #6fc973; 
    transition: width 0.3s ease-out;
}

